extends layout

block content
    link(rel='stylesheet', href='/stylesheets/create.css')
    if error
        p.error ERROR: #{error}
    div.container.main
        h2 Create Game
        form.form-group(action="", method="post", id="createForm")
            input.register(type="hidden", name="_csrf", value=csrfToken)
            input.form-control#username(name='username', type='text' placeholder='Username' value= userName required)
            br 
            input.form-control#gameCode(name='gameCode', type='text' value= gameCode)
            span Game Room Name or GameCode feel free to change
            br
            input.form-control#numPlayers(name='numPlayers', type='text' placeholder="Number of Players" required)
            br
            input.form-control#numRounds(name='numRounds', type='text' placeholder="Number of Rounds" required)
            br
            p Select Categories:
            .checkbox-inline
                
            br
            div.submitdiv
                div.center
                    button#submit.btn.btn-primary(type="submit") Create Game

block scripts
    script(src='/scripts/_createGame.js')
    script(src='//kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js')