extends layout

block content
  .container
    .game
      button#test.btn.btn-primary(type='submit') Action
  
  #gameInfo.template game page
    p#username= userName
    p#gameCode= gameCode
  
  .creatRound_template.template
    form.form
    button#createRound.btn.btn-primary(type='submit') Start Round

  .gameRoundQuestion_template.template
    .question this is a question
    input.answer(type="text")

  .gameRoundAnswer_template.template
    .question this is the question
    .answers

  .gameAnswers_template.template
    button.AnswerBTN(type='submit')
  
  .gameEndRound_template.template
    .scores
  

block scripts
  script(src='/scripts/_game.js')
  script(src='/scripts/_gameStartRound.js')
  script(src='/scripts/_gamePlayRound.js')
  script(src='/scripts/_gameEndRound.js')
