extends layout

block content
  div game page
  #gameInfo
    #user= userName
    #gameCode= gameCode
    #numPlayers= 0
    #numRounds= 1
    #categorys= 1

block scripts
  script(src='/scripts/_game.js')