extends layout

block content
  .container
    .message
    .game
      button#test.btn.btn-primary(type='submit') Action
  
  .gameInfo.template game page
    p#username= userName
    p#gameCode= gameCode
  
  .creatRound_template.template
    form.form
    button#createRound.btn.btn-primary(type='submit') Start Round

  .waitScreen_template.template#content
    #loader-wrapper
      .wait 
        h1.text Please wait for Host 
      #loader
      //- .loader-section.section-left
      //- .loader-section.section-right

  .gameRoundQuestion_template.template
    .category
      .textCat
    .question
      .textQue
    input.lie(type="text" placeholder="Tell Your Lie, make it good")
    button#getAnswer.btn.btn-primary(type='submit') Send Lie

  .gameRoundAnswer_template.template
    .category
      .textCat
    .question
      .textQue
    .listOfLies
      ul.answers

  .gameAnswers_template.template
    li.lieListItem
      button.selectLie.btn.btn-primary(type='submit')
        .text
  
  .gameEndRoundContainer_template.template
    .listOfScores
      ul.scores
    .button_wraper
      .next
  
  .nextButton_template.template
    a.btn.btn-primary(href='/game')
      .text Next Round
  
  .createButton_template.template
    a.createButton.btn.btn-primary(href='/game')
      .text Create Round

  .endButton_template.template
    button.endGame.btn.btn-primary(type='submit')
      .text Save and End Game


  .gameEndRound_template.template
    li
      .player
      .score
  

block scripts
  script(src='/scripts/_game.js')
  link(rel='stylesheet', href='/stylesheets/loading.css')
