extends layout

block content
  .container

  #gameInfo game page
    p#username= userName
    p#gameCode= gameCode

  button#test.btn.btn-primary(type='submit') Action

block scripts
  script(src='/scripts/_game.js')