extends layout

block content
  .container
    .game
      button#test.btn.btn-primary(type='submit') Action
  
  .gameInfo.template game page
    p#username= userName
    p#gameCode= gameCode
  
  .creatRound_template.template
    form.form
    button#createRound.btn.btn-primary(type='submit') Start Round

  .waitScreen_template.template#content
    #loader-wrapper
      h1 please wait for host
      #loader
      //- .loader-section.section-left
      //- .loader-section.section-right

  .gameRoundQuestion_template.template
    .category
    .question this is a question
    input.answer(type="text")

  .gameRoundAnswer_template.template
    .category
    .question this is the question
    li.answers

  .gameAnswers_template.template
    button.AnswerBTN(type='submit') your answer
  
  .gameEndRound_template.template
    li.scores
  

block scripts
  script(src='/scripts/_game.js')
  link(rel='stylesheet', href='/stylesheets/loading.css')
