extends layout

block content
  p#username= userName
  a(href = "questions/create") new question
  br

  a(href = "questions/1") question 1
  br

  a(href = "questions/2") question 2
  br

  a(href = "questions/3") question 3
  br
