.create{
    margin: 1em;
    /*color: black;
    background-color: lawngreen;*/
}
.main{
    width: 450px;
}
h2{
    margin-bottom: 1em;
}
#submit{
    margin-top: 20px;
}
#checkbox{
    transform: scale(1.5);
}
.checkboxdiv{
    margin-bottom: 10px;
    margin-left: 20px;
}
.checkbox-inline{
    font-size: 12pt;
}

.question-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}

.small-container {
  display: flex;
  justify-content: space-between;
}

.question-container a {
  height: 200px;
  width: 400px;
  border: 1px solid white;
  margin: 10px;
  background-color: white;
  text-decoration: none;
  padding:10px;

}

.indent {
  text-indent: 40px;
}
